# hand-written (combines hdhuber + hdsvm + hdqr)

useDynLib(hdstats, .registration=TRUE)
importFrom(Rcpp, evalCpp)

import(Matrix)
importFrom(graphics, segments)
importFrom(methods, new)
importFrom(methods, rbind2)
importFrom(stats, approx)
importFrom(stats, coef)
importFrom(stats, predict)

# ---- hdhuber ----
export(hdhuber)
export(cv.hdhuber)
S3method(coef, hdhuber)
S3method(coef, cv.hdhuber)
S3method(predict, hdhuber)
S3method(predict, cv.hdhuber)

# ---- hdsvm ----
export(hdsvm)
export(cv.hdsvm)
export(nc.hdsvm)
export(cv.nc.hdsvm)
S3method(coef, hdsvm)
S3method(coef, cv.hdsvm)
S3method(coef, nc.hdsvm)
S3method(coef, cv.nc.hdsvm)
S3method(predict, hdsvm)
S3method(predict, cv.hdsvm)
S3method(predict, nc.hdsvm)
S3method(predict, cv.nc.hdsvm)

# ---- hdqr ----
export(hdqr)
export(cv.hdqr)
export(nc.hdqr)
export(cv.nc.hdqr)
S3method(coef, hdqr)
S3method(coef, cv.hdqr)
S3method(coef, nc.hdqr)
S3method(coef, cv.nc.hdqr)
S3method(predict, hdqr)
S3method(predict, cv.hdqr)
S3method(predict, nc.hdqr)
S3method(predict, cv.nc.hdqr)
